{% extends 'base.html' %}
{% block title %} About CRUD {% endblock %}

{% block content %}
  <div class ="container">
    <h1>About CRUD!</h1>
    <br/><br/>
    <p>

      In computer programming, Create, Read, Update, and Delete (CRUD) are the four basic operations of persistent
      storage. CRUD is also sometimes used to describe user interface conventions that facilitate viewing, searching,
      and changing information using computer-based forms and reports.

    </p>
  </div>
{% endblock %}

