{% extends 'base.html' %}
{% block title %} Students list {% endblock %}

{% block content %}


  <div class ="container">
    <h1>About Students</h1>
    <br/><br/>
    <form action="/students" METHOD="POST" onsubmit="return required()">
      <input type="text" placeholder="First Name" id="first_name" name="first_name" required>
      <input type="text" placeholder="Last Name" id="last_name" name="last_name" required>
      <input type="email" placeholder="Email" id="email" name="email" required> &ensp;
      <input type="submit" value="Add Student" class="btn btn-secondary">
    </form>
    <br/><br/>
    <script src="emptystr.js"></script>

    {% for x in students %}
      <h4>
        {{ x.first_name }} {{ x.last_name }} &ensp; <small class="text-muted"> {{ x.email }}</small> &ensp;
        <a href="/update/{{ x.id }}" class="btn btn-outline-secondary btn-sm">Update</a>
        <a href="/delete/{{ x.id }}" class="btn btn-outline-danger btn-sm">Delete</a>
      </h4>
    {% endfor %}

  </div>



{% endblock %}



